h1 {
	color: red;
	width:25%;
	background-color: yellow;
}
.special {
	text-decoration: underline;
	color: blue; important;
}
p.special {

	font-weight: bold;
	color: green;
}
img.feature {
	float: right;
}